/*.heading {
  border: 4px solid black;
  color: darkblue;
  background-color: #ccc;
  text-align: center;
}

p {
  font-size: 14px;
}

.blue {
  color: blue;
  background: url(images/promo1.jpg) no-repeat  right;
}

img[alt="phone"] {
  border: 4px solid green;
}

.list {
  list-style-type: none; 
}

.list li {
  width: 220px;
  height: 25px;
  border: 1px solid #000;
}

.list + p {
  color: darkgreen;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.menu li {
  width: 100px;
  height: 30px;
  list-style-type: none;
  border: 1px solid #000;
  text-align: center;
}

.menu li:first-child {
  border-top-right-radius:10px;
  border-top-left-radius:10px;
}

.menu li:last-child {
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

.menu li:nth-child(2n-1) {
  background-color: #ccc;
}

.menu li:nth-child(3) a {
color: orange;
}


.menu li a:hover {
  color: red;
}

.menu li a:active {
  color:green;
}

.last li:nth-child(3):after {
  content: "контент";
  color: aquamarine;
  text-transform: uppercase;
}
.menu li:hover:after {
  content: " >>";
  color: red;
}

.text:first-letter {
  font-size: 30px;
  color: brown;
}

.table {
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  border-collapse: collapse;
}

.table td {
  border: 1px solid #000;
  padding-left: 10px;
  vertical-align: middle;
  text-align: center;
}

.five {
  background-color: seagreen;
}*/

div {
  height: 200px;
  border: 1px solid #000;
}

span {
  color: red;
}
